<!-- start: BREADCRUMB -->
						<div class="breadcrumb-wrapper"> 
							<h4 class="mainTitle no-margin">Agregar usuario</h4>
							 
						</div>
						<!-- end: BREADCRUMB -->


<!-- start: ALTERNATIVE EXAMPLE -->
						<div class="container-fluid container-fullw">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-white">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-9">
													 
													<h5 class="margin-bottom-15"></h5>
													<div class="panel panel-transparent">
														<div class="panel-heading">
															<h5 class="panel-title">Agregar nuevo usuario</h5>
														</div>
														<div class="panel-body">
															<form role="form" class="form-horizontal">
																			<div class="form-group">
																				<label class="col-sm-2 control-label" for="nombre"> Nombre Completo </label>
																				<div class="col-sm-10">
																					<input type="text"  id="nombre" class="form-control underline">
																				</div>
																			</div>
																			<div class="form-group">
																				<label class="col-sm-2 control-label" for="empresa"> Empresa </label>
																				<div class="col-sm-10">
																					<input type="text"  id="empresa" class="form-control underline">
																				</div>
																			</div>
																			
																			<div class="form-group">
																				<label class="col-sm-2 control-label" for="email"> E-mail </label>
																				<div class="col-sm-10">
																					<input type="email"  id="email" class="form-control underline">
																				</div>
																			</div>
																			<div class="form-group">
																				<label class="col-sm-2 control-label" for="password"> Contraseña </label>
																				<div class="col-sm-10">
																					<input type="password"  id="password" class="form-control underline">
																				</div>
																			</div> 
																		</form>
														</div>
													</div>
												</div>
											
												<div class="col-md-3 col-lg-3 no-padding">
													<div class="panel  no-border no-radius no-margin">
														<div class="panel-body">
															<span class="panel-tools" tool-expand="tool-expand"></span><br>
															<!--<ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool><br>-->
															<h3 class="text-grifo padding-top-10 text-center">Agregar usuario</h3>
															 <br><br>
															 
															 
															<div class="block text-dark text-center">
																 
																<button type="submit" class="btn btn-green start" data-toggle="modal" data-target="#agregar_usuario">
																	<i class="glyphicon glyphicon-upload"></i>
																	<span>Agregar</span>
																</button>
															</div>
															
															
														</div>
													</div>
												</div>



											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end: ALTERNATIVE EXAMPLE -->



							<!-- Default Modal -->
												<div class="modal fade" id="agregar_usuario" tabindex="-1" role="dialog" aria-labelledby="agregar_usuario" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
																	<span aria-hidden="true">&times;</span>
																</button>
															
															</div>
															<div class="modal-body">
																	<h4 class="modal-title" id="agregar_usuario">¿Agregar usuario?</h4>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-red btn-o" data-dismiss="modal">
																	Cancelar
																</button>
																<button type="button" class="btn btn-green">
																	Aceptar
																</button>
															</div>
														</div>
													</div>
												</div>