<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Agregar cliente</h4>

</div>
<!-- end: BREADCRUMB -->

<!-- start: ALTERNATIVE EXAMPLE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-9">

							<h5 class="margin-bottom-15"></h5>
							<div class="panel panel-transparent">
								<div class="panel-heading">
									<h5 class="panel-title">Agregar nuevo cliente</h5>
								</div>
								<div class="panel-body">
									<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="nombre"> Nombre Completo </label>
											<div class="col-sm-10">
												<input type="text"  id="nombre" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="empresa"> Empresa </label>
											<div class="col-sm-10">
												<input type="text"  id="empresa" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="tel"> Teléfono </label>
											<div class="col-sm-10">
												<input type="text"  id="tel" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="cel"> Cel </label>
											<div class="col-sm-10">
												<input type="text"  id="cel" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="email"> E-mail </label>
											<div class="col-sm-10">
												<input type="email"  id="email" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="password"> Contraseña </label>
											<div class="col-sm-10">
												<input type="password"  id="password" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="ciudad"> Ciudad </label>
											<div class="col-sm-10">
												<input type="text"  id="ciudad" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="estado"> Estado </label>
											<div class="col-sm-10">
												<select name="estado" id="estado" class="form-control">
													<option value="0">Selccionar...</option>
													<option value="01" >Aguascalientes</option>
													<option value="02" >Baja California</option>
													<option value="03" >Baja California Sur</option>
													<option value="04" >Campeche</option>
													<option value="05" >Coahuila de Zaragoza</option>
													<option value="06" >Colima</option>
													<option value="07" >Chiapas</option>
													<option value="08" >Chihuahua</option>
													<option value="09" >Distrito Federal</option>
													<option value="10" >Durango</option>
													<option value="11" >Guanajuato</option>
													<option value="12" >Guerrero</option>
													<option value="13" >Hidalgo</option>
													<option value="14" >Jalisco</option>
													<option value="15" >México</option>
													<option value="16" >Michoacán de Ocampo</option>
													<option value="17" >Morelos</option>
													<option value="18" >Nayarit</option>
													<option value="19" >Nuevo León</option>
													<option value="20" >Oaxaca</option>
													<option value="21" >Puebla</option>
													<option value="22" >Querétaro</option>
													<option value="23" >Quintana Roo</option>
													<option value="24" >San Luis Potosí</option>
													<option value="25" >Sinaloa</option>
													<option value="26" >Sonora</option>
													<option value="27" >Tabasco</option>
													<option value="28" >Tamaulipas</option>
													<option value="29" >Tlaxcala</option>
													<option value="30" >Veracruz</option>
													<option value="31" >Yucatán</option>
													<option value="32" >Zacatecas</option>
												</select>

											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="tel"> CP </label>
											<div class="col-sm-10">
												<input type="text"  id="cp" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="rfc"> RFC </label>
											<div class="col-sm-10">
												<input type="text"  id="rfc" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="domfiscal"> DOMICILIO FISCAL</label>
											<div class="col-sm-10">
												<input type="text"  id="domfiscal" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="clabe"> CLABE INTERBANCARIA</label>
											<div class="col-sm-10">
												<input type="text"  id="clabe" class="form-control underline">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="banco"> BANCO</label>
											<div class="col-sm-10">
												<input type="text"  id="banco" class="form-control underline">
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-lg-3 no-padding">
							<div class="panel  no-border no-radius no-margin">
								<div class="panel-body">
									<!--<ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>-->
									<br>
									<h3 class="text-grifo padding-top-10 text-center">Agregar cliente</h3>
									<br>
									<br>

									<div class="block text-dark text-center">

										<button type="submit" class="btn btn-green start" data-target="#agregar_usuario">
											<i class="glyphicon glyphicon-upload"></i>
											<span>Agregar</span>
										</button>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: ALTERNATIVE EXAMPLE -->

<!-- Default Modal -->
<div class="modal fade" id="agregar_usuario" tabindex="-1" role="dialog" aria-labelledby="agregar_usuario" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body">
				<h4 class="modal-title" id="agregar_usuario">¿Agregar usuario?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-red btn-o" data-dismiss="modal">
					Cancelar
				</button>
				<button type="button" class="btn btn-green">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>