<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Agregar Producto</h4>

</div>
<!-- end: BREADCRUMB -->

<!-- start: ALTERNATIVE EXAMPLE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<h5 class="margin-bottom-15"></h5>
							<div class="panel panel-transparent">
								<div class="panel-heading">
									<h5 class="panel-title">Agregar nuevo Producto</h5>
								</div>
								<div class="panel-body">
									<form role="form" class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" for="nombre"> Nombre del Producto</label>
											<div class="col-sm-10">
												<input type="text"  id="nombre" class="form-control underline" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="nombre">Marca</label>
											<div class="col-sm-10">
                                                <select name="country" class="form-control">
                                                    <option value="">&nbsp;</option>
                                                    <option value="Inglesina">Inglesina</option>
                                                    <option value="Marca Zo li">Marca Zo li</option>
                                                    <option value="Tot 2 Walk">Tot 2 Walk</option>												
                                                </select>
											</div>	
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="empresa"> Categoría </label>
											<div class="col-sm-10">
												<input type="text"  id="empresa" class="form-control underline" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="descripcion"> Descripción </label>
											<div class="col-sm-10">
												<textarea placeholder="Descripción" id="descripcion" class="form-control"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="descripcion"> Características </label>
											<div class="col-sm-10">
												<textarea placeholder="Características" id="caracteristicas" class="form-control"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="descripcion"> Color </label>
											<div class="col-sm-10">
												<textarea placeholder="color" id="caracteristicas" class="form-control"></textarea>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-6 no-padding">
							<div class="panel  no-border no-radius no-margin">
								<div class="panel-body">
									<!--<ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>-->
                                    <div class="panel-tools" tool-expand="tool-expand"></div>
									<br />
									<h3 class="text-grifo padding-top-10 text-center">Agregar PDF</h3>
									<br />
									<br />
									<div class="block text-dark text-center">
										<span class="btn btn-primary fileinput-button"> 
                                            <i class="glyphicon glyphicon-plus"></i> 
                                            <span>Seleccionar...</span>
											<input (change)="onFileChange($event)"  type="file" name="files[]" multiple />
										</span>
										<button (click)="uploadFile(true)" type="submit" class="btn btn-green start" data-toggle="modal" data-target="#agregar_Producto">
											<i class="glyphicon glyphicon-upload"></i>
											<span>Cargar</span>
										</button>
									</div>
								</div>
								
								<div class="panel-body">
									<!--<ct-paneltool class="panel-tools" tool-expand="tool-expand"></ct-paneltool>-->
                                    <div class="panel-tools" tool-expand="tool-expand"></div>
									<br />
									<h3 class="text-grifo padding-top-10 text-center">Agregar Imagen Thumb</h3>
									<br />
									<br />
									<div  class="block text-dark text-center">
										<span class="btn btn-primary fileinput-button"> 
                                            <i class="glyphicon glyphicon-plus"></i> 
                                            <span>Seleccionar...</span>
											<!--name="files[]"-->
											<input (change)="onFileChange($event)" type="file"  multiple />										
										</span>
										<button type="submit" (click)="uploadFile(false)" class="btn btn-green start" data-toggle="modal" data-target="#agregar_Producto">
											<i class="glyphicon glyphicon-upload"></i>
											<span>Cargar</span>
										</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: ALTERNATIVE EXAMPLE -->

<!-- Default Modal -->
<div class="modal fade" id="agregar_Producto" tabindex="-1" role="dialog" aria-labelledby="agregar_Producto" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body">
				<h4 class="modal-title" id="agregar_usuario">¿Agregar Producto?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-red btn-o" data-dismiss="modal">
					Cancelar
				</button>
				<button type="button" class="btn btn-green">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>